    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: 'Poppins', sans-serif;
    }
    /* ----- LANDING PAGE WRAPPER ----- */
    .landing-bg {
      width: 100vw;
      height: 100vh;
      background-image: url('images/moon.jpg'); /* Replace with the path to your image */
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 10rem;
    }
    .title {
      font-size: 2rem;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 700;
      color: white;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      margin-bottom: 10rem;
    }
  
    .ribbon {
    margin-right:38%;
      padding: 1.5rem 3.5rem;
      cursor: pointer;
      font-weight: 700;
      letter-spacing: 2px;
      text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
      border: none;
      outline: none; 
      transition: transform 0.2s, box-shadow 0.2s;
    }
